<% content_for :head do %>
  <%= javascript_include_tag "tasks_app", type: "module" %>
<% end %>

<div class="flex h-screen relative" style="background-color: var(--bg);">
  <%= render 'shared/sidebar' %>

  <!-- Main Content Area - React will mount here -->
  <main class="flex-1 overflow-y-auto md:ml-[224px]">
    <div id="tasks-react-root" style="background-color: var(--bg); min-height: 100%;" data-default-grouping="<%= current_user.default_tasks_grouping %>"></div>
  </main>
</div>
