<div class="flex h-screen relative" style="background-color: var(--bg);">
  <%= render 'shared/sidebar' %>

  <main class="flex-1 overflow-y-auto md:ml-[224px]">
    <%
      habits_data = current_user.habits.active.includes(:category).map do |habit|
        {
          id: habit.id,
          name: habit.name,
          category_name: habit.category.name,
          category_color: habit.category.color
        }
      end
    %>
    <div id="documents-react-root" style="background-color: var(--bg); min-height: 100%;" data-habits="<%= habits_data.to_json %>" data-default-grouping="<%= current_user.default_documents_grouping %>"></div>
  </main>
</div>
