<% content_for :head do %>
  <%= javascript_include_tag "tags_app", type: "module" %>
<% end %>

<div class="flex h-screen relative" style="background-color: var(--bg);">
  <%= render 'shared/sidebar' %>

  <main class="flex-1 overflow-y-auto md:ml-[224px]">
    <div id="tags-react-root" style="background-color: var(--bg); min-height: 100%;"></div>
  </main>
</div>
