<% content_for :head do %>
  <%= javascript_include_tag "category_app", type: "module" %>
<% end %>

<div class="flex h-screen relative" style="background-color: var(--bg);">
  <%= render 'shared/sidebar' %>

  <main class="flex-1 overflow-y-auto md:ml-[224px]">
    <div id="category-react-root" style="background-color: var(--bg); min-height: 100%;"
         data-category-id="<%= @category.id %>"
         data-sort="<%= params[:sort] || 'priority' %>">
    </div>
  </main>
</div>
